@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;600;700&family=Dancing+Script&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #93CDE6;
}

:root{
    --border-color: #dfcffe;
}

#display-container{
    height: 43.75rem;
    width: 37.5rem;
    position: relative;
    margin: 5rem auto;
}

#display {
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    /* margin: 5rem auto; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.5rem;
    position: relative;
}

#display > *{
    scroll-snap-align: start;
}

.cards{
    height: 95%;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 0.5em;
    z-index: 5;
    /* position: relative; */
}

.cards > h2{
    font-family: 'Cormorant SC', serif;
    text-align: center;
    padding: 0.25em 0 0.5em;

}
.cards > h3{
    font-family: 'Cormorant SC', serif;
    text-align: center;
    padding-bottom: 0.5em;

}

.cards> .description{
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: justify;
    padding: 0.5em 0.5em;
    line-height: 1.5em;
    letter-spacing: initial;
}

.cards > p{
    padding-left: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.cards  a {
    text-decoration: none;
    color: #00c895;
}

.image{
    max-height: 13em;
    max-width: 25em;
    /* object-fit: contain; */
    margin: 0 auto;
    padding: 1.5em 0 0;
    /* border-radius: 20px; */
    opacity: 0.8;
    /* outline: 1px solid #d5cffe;
    outline-offset: 2px; */
    /* position: absolute;
    left: 50%;
    top: 1em;
    transform: translateX(-50%); */

}

/* .image>img{
    object-fit: contain;
} */

strong{
    /* font-weight: 500; */
    font-family: 'Cormorant SC', serif;
    letter-spacing: initial;
}

.cards:nth-child(even){
    background-color: rgb(208, 202, 227, 0.4);
}
.cards:nth-child(odd){
    background-color: rgb(251, 244, 215, 0.3);
}

.btn{
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #d5cffe;
    transition: all 0.5s linear;
    opacity: 0;
}

.btn:hover{
    background-color: #a295f7;
    outline: 1px solid #a295f7;
    outline-offset: 4px;
}

#next {
    top: 50%;
    right: -20%;
    transform: translate(-50%, -50%);
}

#previous{
    top: 50%;
    left: -20%;
    transform: translate(50%, -50%);
}

.btn > i {
    transform: scale(1.1);
    color: #ffff;
}


/*----------------------------------- SEARCH BUTTONS ------------------------------ */

#button-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 50%;
    height: 10rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2em;
    padding: 1rem;
}

.search-button{
    height: 4em;
    width: 10em;
    margin: auto;
    font-size: 100%;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #a295f7;
    border-radius: 5px;
    outline: none;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.search-button:nth-child(4){
    grid-column: 2/2;
}
/* .search-button:nth-child(5){
    grid-column: 3/3;
} */

.search-button:hover{
    background-color: #baf7e7;
    border-color: #00c895;
}

/*--------------------------------------------------------- MEDIA QUERIES ---------------------------------------*/

@media screen and (max-width: 300px){
    #display{
        width: 100vw;
    }
}